In [1]:
# Import libraries
import pandas as pd
import zipfile
import os

# Import libraries for SQL
from sql_functions import get_engine

In [2]:
# constants:
path = "data/"
sql_schema = "capstone_divvy_bikeshare"
engine = get_engine()

In [14]:
# checking data folder for specific zip files from year 2022 and creating a list of filenames:
list_tripfiles_2022 = []
for file in os.listdir(path):
    if file.startswith("2022") and file.endswith("tripdata.zip") == True:
        list_tripfiles_2022.append(file)
list_tripfiles_2022

['202206-divvy-tripdata.zip',
 '202208-divvy-tripdata.zip',
 '202205-divvy-tripdata.zip',
 '202203-divvy-tripdata.zip',
 '202210-divvy-tripdata.zip',
 '202211-divvy-tripdata.zip',
 '202201-divvy-tripdata.zip',
 '202202-divvy-tripdata.zip',
 '202212-divvy-tripdata.zip',
 '202209-divvy-tripdata.zip',
 '202204-divvy-tripdata.zip',
 '202207-divvy-tripdata.zip']

In [54]:
# taking a look at january:
zf_jan22 = zipfile.ZipFile("data/202201-divvy-tripdata.zip")
df = pd.read_csv(zf_jan22.open("202201-divvy-tripdata.csv"))
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member

In [51]:
# creating a function, to extract zipfiles, and store them in a dataframe:
def zip_to_df(file):
    zf = zipfile.ZipFile(path + file)
    df = pd.read_csv(zf.open(file[:-4] + ".csv"))
    return df

Testing zip_to_df function:

In [55]:
zip_to_df("202203-divvy-tripdata.zip").head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,47EC0A7F82E65D52,classic_bike,2022-03-21 13:45:01,2022-03-21 13:51:18,Wabash Ave & Wacker Pl,TA1307000131,Kingsbury St & Kinzie St,KA1503000043,41.886875,-87.626030,41.889177,-87.638506,member
1,8494861979B0F477,electric_bike,2022-03-16 09:37:16,2022-03-16 09:43:34,Michigan Ave & Oak St,13042,Orleans St & Chestnut St (NEXT Apts),620,41.900998,-87.623752,41.898203,-87.637536,member
2,EFE527AF80B66109,classic_bike,2022-03-23 19:52:02,2022-03-23 19:54:48,Broadway & Berwyn Ave,13109,Broadway & Ridge Ave,15578,41.978353,-87.659753,41.984045,-87.660274,member
3,9F446FD9DEE3F389,classic_bike,2022-03-01 19:12:26,2022-03-01 19:22:14,Wabash Ave & Wacker Pl,TA1307000131,Franklin St & Jackson Blvd,TA1305000025,41.886875,-87.626030,41.877708,-87.635321,member
4,431128AD9AFFEDC0,classic_bike,2022-03-21 18:37:01,2022-03-21 19:19:11,DuSable Lake Shore Dr & North Blvd,LF-005,Loomis St & Jackson Blvd,13206,41.911722,-87.626804,41.877945,-87.662007,member

Now lets load all 12 zipfiles (one for every month of 2022) into a dataframe, and then concat them into one big df_22 dataframe:

In [61]:
# creating empty DataFrame:
df_22 = pd.DataFrame()

#looping over zip filenames, converting them to dataframes and appending them to df_22:
for file in list_tripfiles_2022:
    zip_to_df(file)

KeyError: "There is no item named '202209-divvy-tripdata.csv' in the archive"